.side-bar {
  height: 100vh;
}

.item-info {
  text-decoration: none;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.list {
  text-decoration: none;
}

.deco {
  text-decoration: none;
}

.scrl {
  overscroll-behavior-inline: auto;
}

.img-size {
  height: 200px;
  width: 200px;
}

.main {
  height: 100%;
}